.cat{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cat-title{
    margin-right: 69%;
    margin-bottom: 5px;
    margin-top: 20px;
}

.cat-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.cat-card{
    border: solid 1px;
    margin: 15px 40px;
}

.cat-card-img{
    width: 200px;
    height: 200px;
}

.cat-card-h3{
    text-align: center;
    margin: 10px
}